.page-home{
    display: flex;
}
.posição{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.estrela{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    flex-grow: 1;
}
.logo-estrelar{
    width: 570px;
    height: 580px;
}